<h1>Order Confirmation</h1>
<p>
  Thank you for your order. Please find the details of your order below:
</p>
<br />
<div class="well col-md-12 table-responsive" id="order-<%= @order.id %>">
  <table class="table">
    <thead>
      <tr>
        <td colspan="5" class="text-left">
          <strong>Order # <%= @order.id %></strong>
          <p><strong>Placed: <%= @order.date %></strong></p>
        </td>
      </tr>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
        <th>Status</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% @order.events.each do |event| %>
        <tr id="event-<%= event.id %>">
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= @order.event_quantity(event) %></td>
          <td><%= number_to_currency(event.price) %></td>
          <td><%= number_to_currency(@order.sub_total(event)) %></td>
          <td><%= @order.status %></td>
          <td><%= @order.time_updated %></td>
        </tr>
      <% end %>
    <tr>
      <td colspan="5" class="text-right">
        <strong>Total: <%= number_to_currency(@order.total) %></strong>
      </td>
    </tr>
  </tbody>
</table>
<br />
<p>
  Sincerely, <br />One Fan's Treasure
</p>
