<div class="well table-responsive col-md-6">
  <table class="table">
    <tr>
      <th>Username</th>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>Date Registered</th>
      <td><%= current_user.date_registered %></td>
    </tr>
    <% if current_admin? %>
      <tr>
        <th>Venue</th>
        <td><%= @venue.name %></td>
      </tr>
    <% else %>
      <tr>
        <th>Orders Placed</th>
        <td><%= current_user.orders.count %></td>
      </tr>
    <% end %>
  </table>
  <div class='col-md-12'>
    <%= link_to 'View My Orders', orders_path, class: 'btn btn-default pull-right' unless current_admin?%>
    <%= link_to 'Manage My Account', edit_user_path(current_user), class: 'btn btn-default' %>
    <%= link_to 'Manage Venue', edit_admin_venue_path(name: @venue.slug), class: 'btn btn-default' if current_admin? %>
    <%= link_to 'View My Events', venue_path(name: @venue.slug), class: 'btn btn-default' if current_admin? %>
  </div>
</div>
