<div class="well center" id="dashboard">
  <div class="well col-md-10 col-md-offset-1">
    <table class="table" id="user_dashboard">
      <tr>
        <th>Username</th>
        <td><%= current_user.username %></td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th>Date Registered</th>
        <td><%= current_user.date_registered %></td>
      </tr>
      <% if venue_admin_only? %>
        <tr>
          <th>Venue</th>
          <td><%= @venue.name %><%= link_to 'Manage Venue', edit_admin_venue_path(name: @venue.slug), class: 'btn btn-sm btn-default pull-right' %></td>
        </tr>
      <% end %>
      <tr>
        <th>Orders Placed</th>
        <td><%= current_user.orders.count %><%= link_to 'View My Orders', orders_path, class: 'btn btn-sm btn-default pull-right' %></td>
      </tr>
    </table>
      <center><%= link_to 'Manage My Account', edit_user_path(current_user), class: 'btn btn-default' %></center>
      <center><%= link_to 'Manage Events', venue_path(name: @venue.slug), class: 'btn btn-default top-margin' if venue_admin_only? %></center>
      <% if platform_admin? %>
        <br />
        <center>
          <%= link_to 'Manage Events', events_path, class: 'btn btn-default top-margin' %>
          <%= link_to 'Manage Venues', venues_path, class: 'btn btn-default top-margin' %>
        </center>
      <% end %>
  </div>

  <% if !venue_admin? && venue_exists? %>
    <div class="well col-md-8 col-md-offset-2">
      <center>
        <strong>Thank you for choosing to become a certified seller at Nosebleed Tix!</strong>
        <br><br />
        <p><small>If you have submitted an application within the last 7 days, please be patient as we process your request.</small></p>
        <p><small>If you are an existing vendor who is having trouble with your account or have any questions for the Nosebleed staff, please contact us <%= mail_to "nosebleedtix@gmail.com", "here" %>.</small></p>
      </center>
    </div>
  <% elsif !venue_admin? && !venue_exists? %>
    <div class="sell-btn">
      <%= link_to "Sell With Us", new_venue_path, class: "btn btn-lg btn-primary shadow" %>
    </div>
  <% else %>
  <% end %>

  <% if platform_admin? %>
    <div class="well col-md-10 col-md-offset-1 table-responsive" id="pending">
      <h2>Pending Venues</h2>
      <% if @venues.empty? %>
        <div id="no-pending-msg">
          <center><h4><em>There are no venues currently pending. Get out there and recruit!</em></h4></center>
        </div>
      <% else %>
        <table class="table">
          <thead>
            <th>Venue Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Admin</th>
            <th class="text-center col-md-2" colspan="2">Action</th>
          </thead>
          <tbody>
            <% @venues.each do |venue| %>
            <tr id="venue-<%= venue.id %>">
              <td><%= venue.name %></td>
              <td><%= venue.location %></td>
              <td><%= venue.capacity %></td>
              <td><%= venue.admin.username %></td>
              <td>
                <%= button_to "Approve", admin_venues_path, { params: { name: venue.slug }, class: "btn btn-success center_button btn-xs" } %>
              </td>
              <td>
                <%= button_to "Decline", admin_venue_path(venue), { method: :delete, class: "btn btn-danger center_button btn-xs" } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
