<div class="well center" id="dashboard">
  <div class="well table-responsive fit-width">
    <table class="table" id="user_dashboard">
      <tr>
        <th>Username</th>
        <td><%= current_user.username %></td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th>Date Registered</th>
        <td><%= current_user.date_registered %></td>
      </tr>
      <% if venue_admin_only? %>
        <tr>
          <th>Venue</th>
          <td><%= @venue.name %><%= link_to 'Manage Venue', edit_admin_venue_path(name: @venue.slug), class: 'btn btn-sm btn-default pull-right' %></td>
        </tr>
      <% else %>
        <tr>
          <th>Orders Placed</th>
          <td><%= current_user.orders.count %><%= link_to 'View My Orders', orders_path, class: 'btn btn-sm btn-default pull-right' unless venue_admin?%></td>
        </tr>
      <% end %>
    </table>
    <div class='row col-md-6'>
      <%= link_to 'Manage My Account', edit_user_path(current_user), class: 'btn btn-default' %>
      <%= link_to 'View My Events', venue_path(name: @venue.slug), class: 'btn btn-default' if venue_admin_only? %>
      <%= link_to 'Manage Venues', venues_path, class: 'btn btn-default' if platform_admin? %>
    </div>
  </div>

  <% if !venue_admin? %>
    <div class="sell-btn">
      <%= link_to "Sell With Us", new_venue_path, class: "btn btn-lg btn-primary shadow" %>
    </div>
  <% end %>

  <% if platform_admin? %>
  <br />
    <div class="well table-responsive row col-md-7">
      <h2>Pending Venues</h2>
      <table class="table" id="pending">
        <thead>
          <th>Venue Name</th>
          <th>Location</th>
          <th>Capacity</th>
          <th>Admin</th>
          <th class="text-center">Action</th>
        </thead>
        <tbody>
          <% @venues.each do |venue| %>
            <tr id="venue-<%= venue.id %>">
              <td><%= venue.name %></td>
              <td><%= venue.location %></td>
              <td><%= venue.capacity %></td>
              <td><%= venue.admin.username %></td>
              <td>
                <%= button_to "Approve", admin_venues_path, { params: { name: venue.slug }, class: "btn btn-success center_button btn-xs" } %>
                <%= button_to "Decline", admin_venue_path(venue), { method: :delete, class: "btn btn-danger center_button btn-xs" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
