<div class="well col-md-7 col-md-offset-2">
  <%= form_for(@event, url: path, html: {multipart: true}) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :supporting_act, "Supporting Act" %>
      <%= f.text_field :supporting_act, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, min: 0, step: 0.01, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.select :category_id, event_categories, {}, class: 'form-control' %>
    </div>
    <% if platform_admin? %>
      <div class="form-group">
        <%= f.label :venue_id %>
        <%= f.select :venue_id, event_venues, class: 'form-control' %>
      </div>
    <% end %>
    <!-- Currently hidden due to this being tentative functionality -->
    <!-- <div class="form-group">
      <%#= f.label :upload_image, 'Image' %>
      <%#= f.file_field :upload_image, class: 'center_button' %>
    </div> -->
    <%= f.submit "#{button}", class: 'btn btn-primary' %>
    <%= link_to "Cancel", request.referrer, class: 'btn btn-primary' %>
  <% end %>
</div>
