<div id="items_list">
  <% @items.each do |item| %>
    <div class = "well col-md-3 text-center" id="item-<%= item.id %>">
      <p>
        <%= image_tag(item.image_path, alt: "#{item.title} pic", class: 'img-thumbnail') %>
      </p>
      <p>
      <a id="popoverData" class="btn" href="<%= item_path(item) %>" data-content="<%= item.description %>" rel="popover" data-placement="bottom" data-original-title="Backstory" data-trigger="hover">
        <%= item.title %>
      </a>
      <p>
        Celebrity: <%= item.celebrity_name %>
      </p>
      <p>
        <%= number_to_currency(item.price) %>
      </p>
      <%= content_tag :div do %>
        <%= button_to "#{btn_label}", cart_items_path(item_id: item.id), class: "center_button btn btn-#{btn_class}", disabled: status %>
      <% end %>
    </div>
  <% end %>
</div>
