<div class="well">
  <%= form_for(target, url: path) do |f|  %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'entry' %>
  </p>
  <%  %>
  <% if new_user_path? || admin_edit? %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'entry' %>
  </p>
  <% end %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'entry' %>
  </p>

  <center>
    <%= f.submit button, class: "center_button btn btn-#{btn_class}"%>
  </center>
  <% end %>  
</div>
