<div class="well">
  <%= form_for(target, url: path) do |f|  %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <% unless login_path? %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <% end %>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <%= link_to "Cancel", request.referrer, class: "btn btn-primary top-margin" %>
    <%= f.submit button, class: "btn btn-#{btn_class} top-margin"%>
  <% end %>
</div>
