<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topnavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsingnav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to image_tag('logo-big.png', class: 'logo'), root_path %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="collapsingnav">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Logged in as #{current_user.username}", dashboard_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to venues_path do %>
            <i class="fa fa-building"></i> Venues
          <% end %>
        </li>
        <li>
          <%= link_to events_path do %>
            <i class="fa fa-align-justify"></i> All Events
          <% end %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% categories.each do |category| %>
              <li><%= link_to "#{category.title}", category_path(category) %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= mail_to "nosebleedtix@gmail.com" do %>
            <i class="fa fa-envelope"></i> Email Us
          <% end %>
        </li>
        <li>
          <%= link_to cart_index_path do %>
            <i class="fa fa-shopping-cart"></i> Cart: <%= @cart.total_tickets %>
          <% end %>
        </li>
        <% if current_user %>
          <li><%= link_to logout_path, method: :delete do %>
            <i class="fa fa-sign-out"></i> Logout
          <% end %></li>
        <% else %>
          <li><%= link_to login_path do %>
            <i class="fa fa-sign-in"></i> Login
          <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
