<div class="event-show">
  <div class="well col-md-10">
    <h1><%= @event.title %></h1>
    <%= image_tag(@event.image_path, alt: "#{@event.title} pic", class: 'img-thumbnail show-image', style: 'float:left') %>
    <div class="event-content">
      <h2><p>Venue: <strong><%= @event.venue_name %></strong></h2></p>
      <h4><p>Category: <%= @event.category.title %></p></h4>
      <p><%= @event.description %></p>
      <p><%= number_to_currency(@event.price) %><p>
      <% if @event.past_event? %>
        <p><%= link_to 'SOLD OUT', cart_events_path(event_id: @event.id), class: 'btn btn-danger', disabled: 'disabled' %></p>
      <% else %>
        <p><%= button_to 'Add to Cart', cart_events_path(event_id: @event.id), class: 'btn btn-default' %></p>
        <% if current_admin? %>
          <p><%= link_to 'Edit Event', edit_admin_event_path(@event), class: 'btn btn-default' %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
