<div class="page-content">
  <h1>Order History</h1>
  <% @orders.each do |order| %>
    <div class="well col-md-8 table-responsive" id="order-<%= order.id %>">
      <table class="table">
        <thead>
          <tr>
            <td colspan="5" class="text-left">
              <strong>Order # <%= order.id %></strong>
            </td>
          <tr>
            <th>Date Placed</th>
            <th>Items Ordered</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= order.date %></td>
            <td><%= order.total_items %></td>
            <td><%= number_to_currency(order.total) %></td>
            <td><%= order.status %></td>
          </tr>
          <td colspan="5" class="text-right">
            <strong><%= link_to "Order Details", order_path(order), class:'btn btn-primary' %></strong>
            <% if order.ordered? %>
              <%= form_tag charges_path do %>
                <%= hidden_field_tag :orderid, order.id %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Order #<%= order.id %>"
                  data-amount="<%= order.total_in_cents %>"
                  data-locale="auto">
                </script>
              <% end %>
            <% end %>
          </td>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
