<div class="page-content">
  <h1>Order History</h1>
  <% @orders.each do |order| %>
    <div class="well col-md-8 table-responsive" id="order-<%= order.id %>">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td colspan="5" class="text-left">
              <strong>Order # <%= order.id %></strong>
            </td>
          <tr>
            <th>Date Placed</th>
            <th>Items Ordered</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= order.date %></td>
              <td><%= order.items.count %></td>
              <td>$<%= order.total %></td>
              <td><%= order.status %></td>
            </tr>
        <tr>
          <td colspan="5" class="text-right">
            <strong><%= link_to "Order Details", order_path(order), class:'btn btn-primary' %></strong>
          </td>
        <tr>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
