<div class="page-content">
  <h1><strong>Venues</strong></h1>
  <%= link_to "Back", request.referrer, class: "btn btn-primary bottom-margin" if platform_admin? && request.referrer %>
  <% @venues.each do |venue| %>
    <div class='event' data-all="<%= venue.name %> <%= venue.city %> <%= venue.state %>">
      <div class ="well col-md-3 event-in-list" id="venue-<%= venue.id %>">
        <p>
          <%= image_tag(venue.image_path, alt: "#{venue.name} pic", class: 'img-thumbnail event-image') %>
        </p>
        <p>
          <strong>Venue:</strong> <%= venue.name %>
        </p>
        <p>
          <strong>Location:</strong> <%= venue.location %>
        </p>
        <%= link_to "View Venue", venue_path(venue), class: "btn btn-sm btn-primary" %>
        <br />
        <%= link_to "Edit", edit_admin_venue_path(venue), class: "btn btn-sm btn-default top-margin" if venue_admin? %>
        <%= link_to "Delete", admin_venue_path(venue), method: :delete, class: "btn btn-sm btn-danger top-margin" if platform_admin? %>
      </div>
    </div>
  <% end %>
</div>
