<div class="event-show">
  <div class="well col-md-10 padded">
    <h1><%= @venue.name %></h1>
    <%= image_tag(@venue.image_path, alt: "#{@venue.name} pic", class: 'venue-image') %>
    <div class="venue-details">
      <% if platform_admin? %>
        <p><strong>Venue Admin:</strong> <%= @venue.admin.username %> (<%= link_to 'Edit', edit_user_path(@venue.admin) %>)</p>
      <% end %>
      <p><strong>Location:</strong> <%= @venue.location %></p>
      <p><strong>Capacity:</strong> <%= @venue.capacity %></p>
      <% if this_venues_admin? || platform_admin? %>
        <br />
        <p>
          <%= link_to 'Add New Event', new_admin_event_path, class: 'center_button btn btn-success' %>
          <br />
          <%= link_to 'Edit Venue', edit_admin_venue_path(@venue), class: 'center_button btn btn-default btn-md top-margin' %>
          <% if platform_admin? %>
            <%= link_to 'Delete Venue', admin_venue_path(@venue), method: :delete, class: 'center_button btn btn-danger btn-md top-margin' %>
          <% end %>
          <br /><br />
          <h4><strong><%= link_to '<< Back', request.referrer if request.referrer %></strong></h4>
        </p>
      <% end %>
    </div>
    <div class="table-responsive col-md-8 fit-width">
      <table class="table">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Price</th>
            <th>Purchase</th>
            <% if this_venues_admin? || platform_admin? %>
              <th>Edit</th>
              <th>Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @venue.events.each do |event| %>
            <tr class="event" id="event-<%= event.id %>">
              <td><%= link_to event.title, event_path(@venue, event) %></td>
              <td><%= link_to event.category.title, category_path(event.category) %></td>
              <td><%= event.event_date %></td>
              <td><%= number_to_currency(event.price) %></td>
              <td>
                <%= button_to "Add to Cart", cart_events_path(event_id: event.id), class: "center_button btn btn-sm btn-primary" %>
              </td>
              <% if this_venues_admin? || platform_admin? %>
                <td>
                  <%= link_to 'Edit', edit_admin_event_path(event), class: 'center_button btn btn-sm btn-default' %>
                </td>
                <td>
                  <%= button_to "Delete", admin_event_path(event), method: :delete, class: 'center_button btn btn-sm btn-danger' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
