<div class="item-show">
  <div class="well col-md-10">
    <h1><%= @item.title %></h1>
    <%= image_tag(@item.image_path, alt: "#{@item.title} pic", class: 'img-thumbnail', style: 'float:left') %>
    <div class="item-content">
      <h2><p>Celebrity: <%= @item.celebrity_name %></h2></p>
      <p><%= @item.description %></p>
      <p><%= number_to_currency(@item.price) %><p>
      <p><%= button_to 'Add to Cart', cart_items_path(item_id: @item.id.to_i), class: 'btn btn-default' %></p>
    </div>
  </div>
</div>
